<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">
    <title>Cart</title>
  </head>
  <body>
    <div class='fluid-container pt-5 pl-5 pr-5'>
      <div id='main' class='row'>
        <div class='col-sm-12'>
          <div class="rows d-flex justify-content-between">
            <a class="col-sm-2 btn btn-outline-secondary" th:href="@{/items}">MAIN</a>
            <a class="col-sm-2 btn btn-outline-secondary" th:href="@{/cart}">CART (<span th:text="${cartSize}">0</span>)</a>
          </div>
          <div class='row d-flex justify-content-center'>
            <h1 class='text-center cart'>Cart</h1>
          </div>
          <div class='row pt-4'>
              <table class='col-sm-12'>
                <thead>
                  <tr class='row'>
                    <td class='col-sm-5'>GOODS</td>
                    <td class='col-sm-2'>PRICE</td>
                    <td class='col-sm-2 pl-3'>AMOUNT</td>
                    <td class='col-sm-1'>SUM UP</td>
                    <td class='col-sm-2 text-center'></td>
                  </tr>
                </thead>
                <tbody>
                  <tr class='row pt-5 pb-5' th:each="cartItem : ${cartItems}">
                    <td class='col-sm-5'>
                      <span th:text="${cartItem.goods.name}">Some goods name</span>, size: 
                      <span th:text="${cartItem.sizeEnum}">Size</span>, color: 
                      <span th:text="${cartItem.color}">color</span>
                    </td>
                    <td class='col-sm-2' th:text="|${cartItem.goods.price}.00&#8372;|">
                      100.00&#8372;
                    </td>
                    <td class='col-sm-2 pl-5' th:text="${cartItem.amount}">
                      5
                    </td>
                    <td class='col-sm-1' th:text="${cartItem.amount} * ${cartItem.goods.price} + .00&#8372;">
                      500.00&#8372;
                    </td>
                    <td class='col-sm-2 text-center'>
                      <form action="/cart/0" method="GET" th:action="@{/cart/{cartItemIndex}(cartItemIndex=${cartItemStat.index})}">
                        <input type="submit" class="btn btn-light" value="X"/>
                      </form>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class='col-sm-12'>
                <thead>
                  <tr class='row pt-5'>
                    <td class='col-sm-1 offset-sm-9'>TOTAL</td>
                    <td class='col-sm-2'></td>
                  </tr>
                </thead>
                <tbody>
                  <tr class='row pt-5 pb-5'>
                    <td class='col-sm-1 offset-sm-9 d-flex align-items-center' th:text="|${total}.00&#8372;|">
                      1100.00&#8372;
                    </td>
                    <td class='col-sm-2'>
                      <form action="#" th:action="@{/order}" method="GET">
                        <input type="submit" class='btn btn-block btn-light' value="ORDER"/>
                      </form>
                    <td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script>
       jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
    jQuery('.quantity').each(function() {
      var spinner = jQuery(this),
        input = spinner.find('input[type="number"]'),
        btnUp = spinner.find('.quantity-up'),
        btnDown = spinner.find('.quantity-down'),
        min = input.attr('min'),
        max = input.attr('max');

      btnUp.click(function() {
        var oldValue = parseFloat(input.val());
        if (oldValue >= max) {
          var newVal = oldValue;
        } else {
          var newVal = oldValue + 1;
        }
        spinner.find("input").val(newVal);
        spinner.find("input").trigger("change");
      });

      btnDown.click(function() {
        var oldValue = parseFloat(input.val());
        if (oldValue <= min) {
          var newVal = oldValue;
        } else {
          var newVal = oldValue - 1;
        }
        spinner.find("input").val(newVal);
        spinner.find("input").trigger("change");
      });

    });
    </script>
 </body>
</html>